.transition-title {
    position: absolute;
    top: -50px;  
    font-size: 52px;
    font-family: $font-shrikhand;
    letter-spacing: 3px;
    color: black;
    animation-name: test;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}


@keyframes test {
    from {
      margin-top: 0%;
    }
  
    to {
      margin-top: 40vh;
    }
  }

.bvn {
    position: absolute;
    bottom: 0px;
    font-size: 26px;
    font-family: $font-roboto;
    color: black;
    animation-name: testTwo;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes testTwo {
    from {
      margin-bottom: 0%;
    }
  
    to {
      margin-bottom: 36vh;
    }
  }

.content-page__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    animation-name: timingpage;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    z-index: 110;
}

@keyframes timingpage {
    0% {
      transform: translateX(0);
    }
  
    100% {
        transform: translateX(-200vh);
    }
  }

.a:hover {
    color: red;
}

/*Spinner*/

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: black;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }